@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --main-BG: hsl(217, 54%, 11%);
  --card-BG: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Outfit", sans-serif;
  background: var(--main-BG);
  color: var(--Soft-blue);
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  height: 500px;
  padding: 20px;
  border-radius: 20px;
  background: var(--card-BG);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .logo{
  Width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.card .logo:hover{
  background: var(--Cyan);
}

.card h3{
  color: var(--White);
  font-weight: 400;
  cursor: pointer;
}
.card h3:hover{
  color: var(--Cyan);
}
.card p {
  font-weight: 300;
}

.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details img{
  margin-right: 5px;
}

.price {
  display: flex;
  color: var(--Cyan);
}

.data{
  display: flex;
}

.profile{
  display: flex;
  align-items: center;
  padding-top: 15px;
  border-top: 1px solid var(--Soft-blue);
}

.profile .avatar{
  width: 10%;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.profile p{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile span{
  margin-left: 5px;
  color: var(--White);
  cursor: pointer;
}

.profile span:hover{
  color: var(--Cyan);
}